p {
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    margin-left: 2%;
    margin-right: 2%;
}

#paragraph {
    margin-top: 10%;
}

#button-div {
    text-align: center;
    margin-top: 10%;
}